.ticket-reservation-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: #000000A0;
}

.ticket-reservation {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 70%;
    height: 80%;
    background-color: #000000;
    color: white;
    border-radius: 1em;
    overflow: auto;
}

.ticket-reservation-header {
    align-self: flex-start;
    margin-left: 20%;
    margin-bottom: 2%;
}

.ticket-reservation table {
    margin-bottom: 2em;
}

.ticket-reservation tr>td {
    font-weight: bold;
    color: black;
    text-align: center;
    font-size: 1.2em;
}

.ticket-reservation-ticket-table {
    margin-top: 2em;
    overflow: auto;
}

.ticket-reservation-ticket-table th {
    font-size: 1.3em;
}

.ticket-reservation-ticket-table tr td:first-child,
.ticket-reservation-ticket-table th {
    padding: 0 .5em;
}

.ticket-reservation td {
    width: fit-content;
    background-color: var(--color--grey--medium);
}

.ticket-reservation td>input[type="checkbox"] {
    display: flex;
    width: 2em;
    height: 2em;
    padding: .2em;
    border: none;
    cursor: pointer;
}

.ticket-reservation td>input[type="number"] {

    width: 2em;
    padding: .2em;
    padding-left: .3em;
    border: none;
    cursor: pointer;
    background-color: var(--color--grey--medium);
}

.ticket-reservation td>p {
    width: 2.4em;
    display: flex;
    justify-content: center;
    margin: 0;
    font-weight: bold;
}

.ticket-reservation-header h1 {
    font-size: 2.2em;
}

.ticket-reservation-header label,
.ticket-reservation-header select {
    font-size: 1.1em;
}

.ticket-reservation-header>div>label {
    margin-right: 1em;
}

.ticket-reservation-film-by-dab {
    width: 70%;
    flex-wrap: wrap;
}

.ticket-reservation-film-by-dab>h3 {
    font-size: 1.3em;
}

.ticket-reservation-film-by-dab>div {
    display: flex;
}

.ticket-reservation-film-by-dab>div>div {
    background-color: var(--color--red--bright);
    padding: .4em .8em;
    border-radius: 1em;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    width: fit-content;
    margin: .1em .2em;
}

.ticket-reservation-film-by-dab .ticket-reservation-selected-projection {
    color: var(--color--red--bright);
    background-color: white;
}

.ticket-reservation-unreservable {
    accent-color: var(--color--grey--light);
}

.ticket-reservation-non-seat {
    visibility: hidden;
}

.ticket-reservation-selected {
    accent-color: #00ff00;
}

.ticket-reservation-btns {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-bottom: 2em;
}

.ticket-reservation-btns button {
    margin: .5em;
    margin-top: 1em;
    font-size: 1.3em;
    padding: .7em;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--color--red--bright);
    color: var(--color--white);
    transition-duration: var(--transition-delay--long);
    cursor: pointer;
}

.ticket-reservation-btns button:hover {
    background-color: var(--color--red--dark);
}

.ticket-reservation-btns .ticket-reservation-btns-disable {
    background-color: var(--color--grey--light);
    color: black;
    cursor: not-allowed;
}

.ticket-reservation-btns .ticket-reservation-btns-disable:hover {
    background-color: var(--color--grey--light);
}

.ticket-reservation-seat-container {
    display: flex;
    width: 100%;
}

.ticket-reservation-seat-container2 {
    display: block;
    width: 100%;
    flex-direction: column;
    align-self: center;
    overflow-x: scroll;
}

.ticket-reservation-seat-container2 table {
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .ticket-reservation {
        width: 100%;
        height: 100%;
    }

    .ticket-reservation-header {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-self: center;
        margin-left: 0;
    }

    .ticket-reservation-header>div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .ticket-reservation td>input[type="checkbox"] {
        display: flex;
        width: 1em;
        height: 1em;
        padding: .1em;
        border: none;
        cursor: pointer;
    }
}