body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color--red--bright: #FF0000;
  --color--red--dark: #B30000;
  --color--brown: #A52A2A;
  --color--crimson: #DC143C;
  --color--white: #FFFFFF;
  --color--cheesy: #FF4500;
  --color--black: #000000;

  --transition-delay--short: .35s;
  --transition-delay--long: .65s;
}

body {
  background-color: var(--color--white);
}