.management {
    display: flex;
    flex-direction: row;
    width: 70%;
    align-self: center;
    align-items: center;

    margin: 10vh 0;
}

.management-referations {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}