.film-header-filter-genre {
    display: flex;
    font-size: 1.5em;
    align-items: center;
}

.film-header-filter-genre label {
    font-weight: bold;
    margin-right: 1em;
}

.film-header-filter-genre option, .film-header-filter-genre select {
    font-size: .9em;
}