.projection-header-filter-cinema {
    display: flex;
    font-size: 1.5em;
    align-items: center;
}

.projection-header-filter-cinema label {
    font-weight: bold;
    margin-right: 1em;
}

.projection-header-filter-cinema option, .projection-header-filter-cinema select {
    font-size: .9em;
}

@media only screen and (max-width: 800px) {
    .projection-header-filter-cinema {
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 1%;
    }
}
