.select-input-container {
    display: flex;
    flex-direction: column;
    position: relative;
    /*width: 100%;*/
    font-family: Arial, sans-serif;
    z-index: 3;
    overflow: hidden;
  }
  
  .select-input-container input {
    width: 100%;
  }

  .options-list-z-index {
    position: relative;
    z-index: 4;

  }

  .options-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    position: relative;
    background-color: #fff;
    max-height: 10em;
    overflow-y: scroll;
  }
  
  .options-list li {
    position: relative;
    z-index: 5;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .options-list li:hover {
    background-color: #f0f0f0;
  }