.filter label {
    font-size: 2em;
    margin-right: .5em;
}
.filter > input {
    border-radius: .5em;
    border: none;
    padding: .5em;
}


@media only screen and (max-width: 450px) {
    .filter {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .filter > * {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}