.management-referations {
    width: 100%;
}
.management-reference {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color--red--bright);
    padding: 4%;
    margin: 2%;
    border-radius: 1em;
    min-width: 15em;

    transition-duration: var(--transition-delay--short);
}

.management-reference:hover {
    cursor: pointer;
    box-shadow: 1em 1em 2em var(--color--grey--medium);
}

.management-reference p {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color--grey--light);
}

.management-reference-img {
    /*background: url('../../assets/imgs/favicons/projection-favikon.png');*/
    background-size: cover;
    width: 100px;
    height: 100px;
}
