.block-busters-slider-container {
  background-color: black;
  overflow: hidden;
  max-width: 100%;
}

.block-busters-img {
  height: 50%;
}

.slick-slide a {
  width: fit-content;
}

.slick-slide img {
  margin:auto;
  left:auto;
}

.home-search {
  display: flex;
  margin-top: 2em;
  flex-direction: row;
  justify-content: space-around;
  /*TODO */
}

.home-search select {
  height: fit-content;
}

.home-films {
  /*TODO */
}

@media only screen and (max-width: 700px) {
  .slick-slide img {
      width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .slick-slide img {
    width: 100%;
  }
}