.block-busters-slider-container {
  background-color: black;
  overflow: hidden;
  max-width: 100%;
}
.slick-initialized .slick-slide {
  display: flex; 
}
.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.slick-slide a {
  width: fit-content;
}
.slick-slide img {
  margin:auto;
  left:auto;
}
.block-busters-img {
  transform: scale(0.77);
}

.home-search {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2em;
  /*TODO */
}
.home-search h1 {
  margin-left: 20%;
  font-size: 2.5em;
}

.home-search select, button, input {
  height: fit-content;
  font-size: 1.3em;
}

.home-search button, select {
  padding: .45em;
  height: 100%;
}

.home-search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 2.5em;
  border-bottom: 1px solid var(--color--grey--medium);
}

.home-films {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #EEEEEE;
  padding-top: 2em;
}

@media only screen and (max-width: 700px) {
  .slick-slide img {
      width: 100%;
  }

  .home-search-form {
    display: flex;
    flex-direction: column;
  }

  .home-search-form > * {
    margin: 1em 0;
  }
}

@media only screen and (max-width: 500px) {
  .slick-slide img {
    width: 100%;
  }
}