nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1% 0;
    font-size: 1.2em;

    background-color: var(--color--red--bright);
    color: var(--color--white);
    overflow: hidden;
}

nav a {
    color: var(--color--white);
    padding: .3em .6em;
    margin: 0 1.2em;
    text-decoration: none;

    font-weight: bold;

    border-radius: 5px;
    transition-duration: var(--transition-delay--long);
}

nav a:hover {
    background-color: var(--color--red--dark);
}

.nav-logo {
    font-size: 1.2em;
}

.nav-links {
    display: flex;
}
.nav-links > a {
    display: block;
}

.nav-burger {
    display: none;
}
.nav-burger-content {
    /*display: none;*/
}
.nav-burger-menu {
    cursor: pointer;
}
.nav-burger-menu > div {
    width: 25px;
    height: 5px;
    border-radius: 5em;
    background-color: black;
    margin: 5px 0;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: .5% 0;
    background-color: var(--color--red--bright);
    color: var(--color--white);
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

@media only screen and (max-width: 700px) {
    nav {
        border-bottom: 1px solid var(--color--red--dark);
        height: 48px;
        padding: 0;
    }
    .nav-links {
        display: none;
    }
    .nav-burger {
        display: flex;
    }
    .nav-burger-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        z-index: 20;
        top: 49px;
        left: 0;
        width: 100%;
        background-color: var(--color--red--bright);
        overflow: hidden;
    }
    .nav-burger-content a {
        width: 100%;
        border-radius: 0;
        text-align: center;
        border-bottom: 1px solid var(--color--red--dark);
    }
}

