.projection {
    display: flex;
    flex-direction: column;
    margin: 2em 15%;     
    padding: 1.5em;
    border: 1px solid #ccc;
    border-radius: 1em;
    cursor: default;
    box-shadow: none;
    transition-duration: 1s;
}

.projection:hover {
    box-shadow: 1em 1em 1em var(--color--grey--medium);
    transition-duration: 1s;
}

.projection-content {
    display: flex;
    cursor: default;
    box-shadow: none;
    transition-duration: 1s;
}


.projection-img {
    display: flex;
    justify-content: center;
}

.projection-img img {
    max-width: 300px;
    max-height: 400px;
    object-fit: cover;
    border-radius: 1em;
    cursor: pointer;
}

.projection-text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

.projection h1 {
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 0;
    color: var(--color--red--bright);
    cursor: pointer;
}
.projection-responsive-header {
    display: none;
}

.projection-text-content p {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.projection-text-content-actors p {
    font-size: 1em;
    margin: 0;
}
@media only screen and (max-width: 1200px) {
    .projection {
        margin: 1em 2%;     
    }
}
@media only screen and (max-width: 800px) {
    .projection {
        flex-direction: column;
        border: none;
        margin: 0;     
        padding: 1.5em;
    }
    .projection:hover {
        box-shadow: none;
        transition-duration: 1s;
    }
    .projection-responsive-header {
        display: block;
    }
    .projection-text-content h1 {
        display: none;
    }
    .projection-content {
        display: flex;
        flex-direction: column;
    }
}