.detail {
    display: flex;
    align-self: center;
    flex-direction: column;
    
    margin: 8% 0 ;
    border-radius: 15px;

    width: fit-content;
    padding: 2%;
    
    background-color: var(--color--grey--light);

    box-shadow: 0 0 1em #AAAAAA;
    max-width: 90%;
}

.detail > h1 {
    text-align: center;
}

.detail-body {
    display: flex;
    flex-direction: column;
}

.detail-submit {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.detail > div > label, .detail input, .detail select, .detail .select > label, .detail > p, .chechbox label {
    border: none;
    font-size: 1.5em;
    padding: .5em;
    outline: none;
}
    
.detail input {
    border-bottom: 2px var(--color--black) solid;
    padding-bottom: .2em;
}

.detail-submit > button, .detail-submit > a {
    margin: .5em;
    margin-top: 1em;
    font-size: 1.3em;
    padding: .7em;
    border: none;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    background-color: var(--color--red--bright);
    color: var(--color--white);
    transition-duration: var(--transition-delay--long);
    cursor: pointer;
}

.detail button:hover {
    background-color: var(--color--red--dark);
}

.chechbox {
    display: flex;
    align-items: center;


    border: none;
    padding: .5em;
    padding-left: 0;
    padding-bottom: .2em;
    outline: none;
}

.chechbox input {
    width: 1em;
    height: 1em;
    padding: .5em;
}

.chechbox label {
    padding: .5em;
}