.film-detail-checkbox input {
    width: 1em;
    height: 1em;
}
.film-detail-checkbox label {
    border: none;
    font-size: 1.5em;
    padding: .5em;
    outline: none;
}
.film-detail-checkbox {
    display: flex;
    align-items: center;
    margin-top: .7em;
}

.film-detail-multiple {
    display: flex;
    position: relative;
    z-index: 0;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1vh;
}
.film-detail-multiple input[type="button"] {
    text-align: center;
    border-bottom: none;
    height: min-content;
    padding: .2em .4em;
    margin-left: 10px;
}