.error {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    margin: 5% 0;
}

.error h1 {
    color: var(--color--black);
    font-size: 6em;
}

.error p {
    font-size: 3em;
}