.pw-reset {
    display: flex;
    margin: auto;
    margin-top: 10%;

    justify-content: center;
    align-items: center;
    
    flex-direction: column;
}

.pw-reset-view {
    background-color: var(--color--grey--lightest);
    padding: 3em 1.5em .2em 1.5em;
    border-radius: 15px;
    width: min-content;
}

.pw-reset-none {
    display: none;
}

.pw-reset input {
    border: none;
    font-size: 1.5em;
    padding: .5em;
    outline: none;
}

.pw-reset input {
    border-bottom: 2px var(--color--black) solid;
    padding-bottom: .2em;
}

.pw-reset-btns {
    display: flex;
    justify-content: space-between;
}

.pw-reset-btns > button, .pw-reset-btns > a {
    margin: .5em;
    margin-top: 1em;
    font-size: 1.3em;
    padding: .7em;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--color--red--bright);
    color: var(--color--white);
    transition-duration: var(--transition-delay--long);
    cursor: pointer;
}

.pw-reset-btns *:hover {
    background-color: var(--color--red--dark);
}
.pw-reset-err {
    color: var(--color--red--bright);
}